html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
}

main {
  flex: 1; /* pushes footer to bottom */
  padding: 2rem 1rem;
}
.main-content{
  max-width: 1200px;
  margin:0 auto;
  padding: 1rem;
}
@media (max-width:768px){
  .header-container{
    flex-direction: column;
    align-items: center;
  }
  nav.main-nav{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
  }
  .relations-grid{
    grid-template-columns: 1fr;
  }
  .service-card{
    width: 100%;
    margin-bottom: 1rem;
  }
  
}